<div layout="vertical" layout-fill>

  <md-content>
    <md-content layout-gt-lg="row" layout-align="center start">
      <h1 class="md-title">Pick your taco wrapper</h1>
      <div layout="row">
        <div class="select-container">
          <md-input-container>
            <label>Size</label>
            <md-select ng-model="size">
              <md-option ng-repeat="size in main.sizes" value="{{size}}">{{size}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="select-container">
          <md-input-container>
            <label>Wrapper Type</label>
            <md-select ng-model="selectedWraper">
              <md-option ng-value="type" ng-repeat="type in main.tortillaTypes ">{{type}}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
      <p ng-if="selectedWraper">You ordered a {{size.toLowerCase()}} tortilla with {{selectedWraper}} wrapper.</p>
    </md-content>
    <hr>
    <md-content layout-gt-md="row" layout-align="center start">
      <h1 class="md-title">Pick your protein</h1>
      <div layout="row">
        <md-input-container>
          <md-select ng-model="selectedProtein">
            <md-optgroup label="Beef">
              <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'beef' }">{{meat.name}}
              </md-option>
            </md-optgroup>
            <md-optgroup label="Pork">
              <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'pork' }">{{meat.name}}
              </md-option>
            </md-optgroup>
            <md-optgroup label="Chicken">
              <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'chicken' }">
                {{meat.name}}
              </md-option>
            </md-optgroup>
            <md-optgroup label="Seafood">
              <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'seafood' }">
                {{meat.name}}
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
    </md-content>
    <hr>
    <md-content>

      <h2 class="md-title">Toppings</h2>
      <md-list>
        <md-list-item class="md-2-line veggie-option" ng-repeat="topping in main.toppings"
                      layout="row"
                      ng-show="topping.restriction == 'none' || selectedProtein =='{{topping.restriction}}' "
        >
          <div class="md-item-text md-whiteframe-z1" flex>
            <md-checkbox class="md-warn md-align-top-left">
              <h3>{{ topping.name }}</h3>
            </md-checkbox>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-content>

</div>
