<div layout="vertical" layout-fill>

  <md-content>
    <md-content layout-gt-sm="row" layout-padding>
      <h1 class="md-title">Pick your taco wrapper</h1>
      <div layout="row">
        <md-input-container style="margin-right: 10px;">
          <label>Size</label>
          <md-select ng-model="size">
            <md-option ng-repeat="size in main.sizes" value="{{size}}">{{size}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Wrapper Type</label>
          <md-select ng-model="selectedWraper">
            <md-option ng-value="type" ng-repeat="type in main.tortillaTypes ">{{type}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <p ng-if="selectedWraper">You ordered a {{size.toLowerCase()}} tortilla with {{selectedWraper}} wrapper.</p>
    </md-content>
    <md-content>
      <h1 class="md-title">Pick your protein</h1>
      <md-select ng-model="selectedProtein">
        <md-optgroup label="Beef">
          <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'beef' }">{{meat.name}}
          </md-option>
        </md-optgroup>
        <md-optgroup label="Pork">
          <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'pork' }">{{meat.name}}
          </md-option>
        </md-optgroup>
        <md-optgroup label="Chicken">
          <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'chicken' }">
            {{meat.name}}
          </md-option>
        </md-optgroup>
        <md-optgroup label="Seafood">
          <md-option ng-value="meat.name" ng-repeat="meat in main.meats | filter: {category: 'seafood' }">
            {{meat.name}}
          </md-option>
        </md-optgroup>
    </md-content>
    <md-content>
    </md-content>
    <hr>
    <div flex-xs flex="50">
      <div layout-xs="column" flex-xs="100">
        <md-checkbox ng-repeat="topping in main.toppings" class="md-warn md-align-top-left">{{ topping.name }}
        </md-checkbox>
      </div>
    </div>
    <hr>

    <!--<md-content layout-gt-sm="row" layout-padding>-->
    <!--<div>-->
    <!--<md-input-container>-->
    <!--<label>Title</label>-->
    <!--<input ng-model="vm.user.title">-->
    <!--</md-input-container>-->
    <!--<md-input-container>-->
    <!--<label>Email</label>-->
    <!--<input ng-model="vm.user.email" type="email">-->
    <!--</md-input-container>-->
    <!--</div>-->
    <!--</md-content>-->
    <!--<md-content layout-padding>-->
    <!--<div>-->
    <!--<form name="userForm">-->
    <!--<div layout-gt-xs="row">-->
    <!--<md-input-container class="md-block" flex-gt-xs>-->
    <!--<label>Company (Disabled)</label>-->
    <!--<input ng-model="vm.user.company" disabled>-->
    <!--</md-input-container>-->
    <!--<md-datepicker ng-model="vm.user.submissionDate" md-placeholder="Enter date">-->
    <!--</md-datepicker>-->
    <!--</div>-->
    <!--<div layout-gt-sm="row">-->
    <!--<md-input-container class="md-block" flex-gt-sm>-->
    <!--<label>First name</label>-->
    <!--<input ng-model="vm.user.firstName">-->
    <!--</md-input-container>-->
    <!--<md-input-container class="md-block" flex-gt-sm>-->
    <!--<label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>-->
    <!--<input ng-model="theMax">-->
    <!--</md-input-container>-->
    <!--</div>-->
    <!--<md-input-container class="md-block">-->
    <!--<label>Address</label>-->
    <!--<input ng-model="vm.user.address">-->
    <!--</md-input-container>-->
    <!--<md-input-container md-no-float class="md-block">-->
    <!--<input ng-model="vm.user.address2" placeholder="Address 2">-->
    <!--</md-input-container>-->
    <!--<div layout-gt-sm="row">-->
    <!--<md-input-container class="md-block" flex-gt-sm>-->
    <!--<label>City</label>-->
    <!--<input ng-model="vm.user.city">-->
    <!--</md-input-container>-->
    <!--<md-input-container class="md-block" flex-gt-sm>-->
    <!--<label>State</label>-->
    <!--<md-select ng-model="vm.user.state">-->
    <!--<md-option ng-repeat="state in vm.states" value="{{state.abbrev}}">-->
    <!--{{state.abbrev}}-->
    <!--</md-option>-->
    <!--</md-select>-->
    <!--</md-input-container>-->
    <!--<md-input-container class="md-block" flex-gt-sm>-->
    <!--<label>Postal Code</label>-->
    <!--<input name="postalCode" ng-model="vm.user.postalCode" placeholder="12345"-->
    <!--required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">-->
    <!--<div ng-messages="userForm.postalCode.$error" role="alert" multiple>-->
    <!--<div ng-message="required" class="my-message">You must supply a postal code.</div>-->
    <!--<div ng-message="pattern" class="my-message">That doesn't look like a valid postal-->
    <!--code.-->
    <!--</div>-->
    <!--<div ng-message="md-maxlength" class="my-message">-->
    <!--Don't use the long version silly...we don't need to be that specific...-->
    <!--</div>-->
    <!--</div>-->
    <!--</md-input-container>-->
    <!--</div>-->
    <!--<md-input-container class="md-block">-->
    <!--<label>Biography</label>-->
    <!--<textarea ng-model="vm.user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>-->
    <!--</md-input-container>-->
    <!--</form>-->
    <!--</div>-->
    <!--</md-content>-->

    <!--<header>-->
    <!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
    <!--</header>-->

    <!--<section class="jumbotron">-->
    <!--<h1>'Allo, 'Allo!</h1>-->
    <!--<p class="lead">-->
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
    <!--</p>-->
    <!--<md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>-->
    <!--<p>-->
    <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
    <!--</p>-->
    <!--</section>-->

    <!--<div class="techs" layout-align="center">-->
    <!--<md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
    <!--<md-card-content>-->
    <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
    <!--<h3 class="md-title">{{ awesomeThing.title }}</h3>-->
    <!--<p>{{ awesomeThing.description }}</p>-->
    <!--</md-card-content>-->
    <!--<div class="md-action-buttons">-->
    <!--<md-button ng-href="{{ awesomeThing.url }}">Website</md-button>-->
    <!--</div>-->
    <!--</md-card>-->
    <!--</div>-->
  </md-content>

</div>
